{% extends "base.html" %}

{% block content %}
    <!-- headlines and default image -->
    <section id="welcome-world">
        <div class="welcome-message">
            <h2>About us</h2>
            <p>At Slices we pride ourselves in being your neighborhood pizzeria. Our New York authentic pie are built to order using homemade recipes from our family archives. Our motto is local, fresh, fast! We love to source our produce locally, we make all of our doughs and sauces fresh daily and our pies cook up in a New York minute. Our dough and sauces are made fresh, daily using only the best ingredients. Once you taste a Slices you'll be hooked! Our quality and flavor far surpass the competition and we're sure you'll feel the same way. Slices is truly a modern classic. It is a place where each guest has the opportunity to custom build their own dining experience.</p>
        </div>
        <img src="../static/img/auth.jpg" alt="pizza">
    </section>
{% endblock %}
